<div class="card">
                    <img class="info-image" src="./info.jpg" alt="Info Avatar">
                    <h4 style="margin-top: 10px;">Name</h4>
                    <p>Giám đốc</p>
                </div>
                <div class="container-feature">
                    <button onclick="location.href='javascript:void(0)'" class="btn btn-primary">Xem hồ sơ đại lý</button>
                    <button onclick="location.href='javascript:void(0)'" class="btn btn-primary">Xem danh sách đại lý</button>
                    <button onclick="location.href='javascript:void(0)'" class="btn btn-primary">Xem báo cáo danh số</button>
                    <button onclick="location.href='javascript:void(0)'" class="btn btn-primary">Xem báo cáo công nợ</button>
                    <button onclick="location.href='javascript:void(0)'" class="btn btn-primary">Xem danh sách các mặt hàng</button>
                    <button onclick="location.href='javascript:void(0)'" class="btn btn-primary">Thay đổi thông tin quy định</button>
                </div>