<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
        <link rel="stylesheet" 
            href="/css/bootstrap.min.css">
        <link rel="stylesheet" 
            href="/jquery-ui/jquery-ui.min.css">
        <link rel="stylesheet" 
            href="/style/login/main.css">
        <link rel="stylesheet" 
            href="/style/login/util.css">
      
  </head>
  <body>
    {{{body}}}
    <script src="/jquery-ui/jquery-ui.min.js"></script>

  </body>
</html>
