<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng nhập</title>
    <link rel="stylesheet" href="./css/bootstrap.css">
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h1>QUẢN LÝ CÁC ĐẠI LÝ</h1>
            </div>
        </div>
    </div>
    <div class="container">
        <h1>ĐĂNG NHẬP</h1>
        <form>
            <div class="mb-3">
              <input 
                type="text" 
                class="form-control" 
                id="inputUsername"
                placeholder="Tên đăng nhập">
            </div>
            <div class="mb-3">
              <input 
                type="password" 
                class="form-control" 
                id="inputPassword1"
                placeholder="Mật khẩu">
            </div>
            <button type="submit" class="btn btn-primary">Đăng nhập</button>
            <div class="lost-pass"><a href="#">Quên mật khẩu</a></div>

          </form>
    </div>

    <script src="./js/bootstrap.js"></script>
</body>
</html>